*{
    margin: 0;
    box-sizing: border-box;
}
body{
    background: #4295bf;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.menu{
    display: flex;
    justify-content: space-evenly;
    gap: 100px;
    margin: 30px;
}
button {
    font-size: 30px;
    color: #fff;
    border-radius: 10px;
    border: none;
    padding: 10px;
    color: #4295bf;
}
button:active{
    color: crimson;
}
button:hover{
    cursor: pointer;
}
p{
    font-size: 30px;
    color: #fff;
}
.times{
    width: 500px;
    height: 400px;
    font-size: 170px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn{
    width: 200px;
    font-size: 40px;
    border-radius: 10px ;
    border: 1px solid transparent;
    background:#FFF ;
    color: #4295bc;
    padding: 10px;
}